Package: smtube
Version: 17.1.0-2
Architecture: amd64
Maintainer: Debian Multimedia Maintainers <pkg-multimedia-maintainers@lists.alioth.debian.org>
Installed-Size: 879
Depends: smplayer | mplayer2 | mpv | mplayer | vlc | totem | gnome-mpv, libc6 (>= 2.14), libgcc1 (>= 1:3.0), libgl1-mesa-glx | libgl1, libqt5core5a (>= 5.7.0), libqt5gui5 (>= 5.0.2), libqt5network5 (>= 5.0.2), libqt5script5 (>= 5.6.0~beta), libqt5webkit5 (>= 5.6.0~rc), libqt5widgets5 (>= 5.0.2), libstdc++6 (>= 5)
Section: video
Priority: optional
Homepage: http://smplayer.sourceforge.net/smtube.php
Description: YouTube videos browser
 SMTube is a stand-alone graphical application which allows one
 to search and download Youtube videos. Although it is part of
 the SMPlayer project, it can be used with any multimedia player
 such as MPlayer, MPlayer2, VLC, Totem or Gnome-MPlayer.
